h1{
    color: #e31b1b;
    font-size: 18px;
}
h2{
    font-size: 20px;
}
h3{
    color: #f38245;
    font-size: 30px;
}
h4{
    color: #f38245;
    font-size: 20px;
}
h5{
    color: #1139e1;
    font-size: 14px;
}
h6{
    color: #1139e1;
    font-size: 14px;
}